parameters:
    level: max
    paths:
        - src

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - '#Trait .* is used zero times and is not analysed#'
        - '#Call to an undefined method .*::cacheTtl\(\)#'
        - '#Parameter .* \$ttl .* mixed given#'
